<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
</head>
<body>
<div class="auth"><div style="float: left"><img src="" style="height: 100px;width: 100px ;border:1px solid white" alt="图片太帅 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 无法显示"/></div>
    <div style="float: left">
        <h1 >Gasine</h1>
        <p style="margin:0px 10px;padding: 0px;">希望就在远方</p>
    </div></div>
<div class="top"><img src="/static/top.png" style="height: 200px;width: 1000px"/>
    {% if username  %}
   <a href="/write" class="login">写博客</a><span class="login">{{ username }} </span>
    {% else %}
        <a href="/Login" class="login">登陆</a>
    {% endif %}
</div>
<div class="index">
    <ul>
        <li><a href="/" class="index_url">首页</a></li>
        <li><a href="/" class="index_url">首页</a></li>
        <li><a href="/" class="index_url">首页</a></li>
        <li><a href="/" class="index_url">首页</a></li>
    </ul>
</div>
<div class="center">
<div class="content_left" id="left">
    <span style="margin-left:10px;margin-top:5px; font-size: 27px;color: maroon;font-style: italic;">文章分类</span>
    <ul>
        {% for i in categroy %}
        <li class="sorted"><a href="/sort/{{ i.id }}" class="sort_url" id="{{ i.name }}">{{ i.name }}</a></li>
        {% endfor %}
    {% if username %}
    <li class="sorted"><a href="/addcategory" class="sort_url" onclick="addsort();return false;">添加分类</a></li>
    {% endif %}
    </ul>
</div>
        {% block content %}
        {% endblock %}
    </div>
<div class="page">
<div class="pagecenter">
{% if page > 3 %}
    {% for i in range(count - 3,y) %}
        {% if id %}
        <a href="/{{ sort }}/{{ id }}/page/{{ i }}">{{ i }}</a>
        {% else %}
        <a href="/{{ sort }}/page/{{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
{% else %}
    {% for i in range(1,x) %}
        {% if id %}
        <a href="/{{ sort }}/{{ id }}/page/{{ i }}">{{ i }}</a>
        {% else %}
        <a href="/{{ sort }}/page/{{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
{{ page }}/{{ count }}
</div>
</div>
<div class="bottom"></div>
</body>
<script type="text/javascript">
    function getxmlhttp(){
        if (window.XMLHttpRequest)
         {// code for IE7+, Firefox, Chrome, Opera, Safari
             var xmlhttp=new XMLHttpRequest();
         }
        else
         {// code for IE6, IE5
             var xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlhttp
    }
    function addsort(){
        sort = prompt("输入类名:");
        xmlhttp = getxmlhttp();
        url = '/addcategory?sort='+encodeURIComponent(sort);
        xmlhttp.open('GET',url,true);
        xmlhttp.onreadystatechange = change;
        xmlhttp.send(null)
    }
    function change(){
        if (xmlhttp.status == 200){
            if (xmlhttp.readyState==4){
                if(xmlhttp.responseText=="True"){
                    alert("添加成功！");
                    location.href = '/';
                }
                else{
                    alert("出现某种错误哦！");
                }
            }
        }
    }
</script>
</html>