<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../static/css/qiang.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery-2.1.4.js"></script>
    <script src="../static/js/qiang.js"></script>
    <title></title>
</head>
<body scroll="no">
<div id="load"><a href="#">上传图片</a></div>
<div id="show" class="img">
    <ul id="move">
        <li><img src="/static/img/1.png" alt=""/></li>
        <li><img src="/static/img/2.png" alt=""/></li>
        <li><img src="/static/img/3.png" alt=""/></li>
    </ul>
</div>
<div class="img1 img" name="1"><img src="/static/img/4.png" alt="" /></div>
<div class="img1 img" name="2"><img src="/static/img/4.png" alt="" /></div>
<div></div>
<div class="back" ></div>
<div class="sc" >
    <div class="sc_top"><p style="width:100px;float:left">上传图片</p><div>X</div></div>
    <div id="img"></div>
    <div id="word" style="color:grey;font-size: 14px;margin-left: 120px; position:absolute;z-index: 3;margin-top:25px;display: none;">大概这么大哦！</div>
    <div class="set"><span>长：<input id="height" type="text"> 宽：<input id="width" type="text"/></span></div>
    <p style="margin-top: 10px; text-align: center;"><input type="file" id="loadimg" style="width:170px;"/></p>
    <div id="an">上传</div>
</div>
</body>
</html>