<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <link rel="stylesheet" type="text/css"href="/static/css/edit.css"/>
    <script src="../static/js/kindeditor-min.js"></script>
    <script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('#content', {
					allowFileManager : true
				});

			});
		</script>
</head>
<body>
<div class="top"><img src="../static/top.png" style="height: 200px;width: 1000px"/>
    {% if username  %}
   <a href="/write" class="login">写博客</a><span class="login">{{ username }} </span>
    {% else %}
        <a href="/Login" class="login">登陆</a>
    {% endif %}
</div>
<div class="index">
    <ul>
        <li><a href="/" class="index_url">首页</a></li>
        <li><a href="/" class="index_url">首页</a></li>
        <li><a href="/" class="index_url">首页</a></li>
        <li><a href="/" class="index_url">首页</a></li>
    </ul>
</div>
<div class="center">
<div class="content_left" id="left">
    <span style="margin-left:10px;margin-top:5px; font-size: 27px;color: maroon;font-style: italic;">文章分类</span>
    <ul>
        {% for i in categroy %}
        <li class="sorted"><a href="/article/{{ i.name }}" class="sort_url" id="{{ i.name }}">{{ i.name }}</a></li>
        {% endfor %}
    {% if username %}
    <li class="sorted"><a href="/addcategory" class="sort_url">添加分类</a></li>
    {% endif %}
    </ul>
</div>
        <div class="content_right">
    <form >
        <fieldset>
            <div class="spa"><label>标题</label></div>
            <div class="spa">
            <input type="text" placeholder="title" id="title">
                </div>
            <div class="spa">
                <label id="sorted">分类</label>
            </div>
                <div class="spa">
            <select id="category">

                </select></div>
            <div class="spa"><label>内容</label></div>

                    <textarea id="content" name="content" style="width:800px;height:400px;visibility:hidden;"></textarea>
            <div id="read" onclick="postarticle()" style="cursor: pointer;">提交</div>

            </fieldset>
    </form>

</div>
    </div>
<div class="bottom"></div>
</body>
<script type="text/javascript">
    
    function getxmlhttp(){
        if (window.XMLHttpRequest)
         {// code for IE7+, Firefox, Chrome, Opera, Safari
             var xmlhttp=new XMLHttpRequest();
         }
        else
         {// code for IE6, IE5
             var xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlhttp
    }
    function postarticle(){

        xmlhttps = getxmlhttp();

        var title = document.getElementById('title').value;
        var sort = document.getElementById('category');
        var index= sort.selectedIndex;
        var sorted = sort.options[index].text;
        editor.sync();
        var content = document.getElementById('content').value;
        var date = new Date().toLocaleString();
        xmlhttps.open("POST","/addarticle",true);
        xmlhttps.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        data = 'title='+encodeURIComponent(title)+'&sorted='+encodeURIComponent(sorted)+'&content='+encodeURIComponent(content)+'&date='+encodeURIComponent(date);
        xmlhttps.onreadystatechange = response;
        xmlhttps.send(data);
    }
    function response(){
        if (xmlhttps.status ==200){
            if(xmlhttps.readyState==4){
                if(xmlhttps.responseText=='True') {
                    alert('发布成功');
                    location.href = '/'
                }
                if(xmlhttps.responseText=='False'){
                    alert('填写完全哦！');
                }
            }
        }
    }
    function Scategory(){
        xmlhttp = getxmlhttp();
        xmlhttp.open("GET",'/getcategory',true);
        xmlhttp.onreadystatechange = Cresponse;
        xmlhttp.send(null)
    }
    function Cresponse(){
        if(xmlhttp.status==200){
            if(xmlhttp.readyState==4){
                var a =xmlhttp.responseText;
                var category = JSON.parse(a);
                var select = document.getElementById('category');
                while (select.hasChildNodes()){
                    select.removeChild(select.lastChild);
                }
                for (var i=0;i<getjsonlength(category);i++){
                    var option = document.createElement('option');
                    option.innerHTML = category[i];
                    select.appendChild(option);
                }
            }
        }
    }
    function getjsonlength(jsobject){
        length = 0;
        for (var i in jsobject){
            length++;
        }
        return length
    }
    window.onload = Scategory();


</script>
</html>